* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./img/fondo.png);
  background-repeat: no-repeat;
  font-family: 'Nunito', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Baloo 2', cursive;
}

header {
  position: fixed;
  width: 100%;
}

header h1 {
  text-align: center;
  margin-top: -90px;
  text-shadow: 2px 2px 2px black;
  color: rgb(110, 198, 201);
  font-size: 2.5em;
  background-color: black;
}

.menu {
  width: 90%;
  margin: 5px auto;
  margin-top: 90px;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 10px;
  border-radius: 5px;
  border-top: 5px solid rgb(110, 198, 201);
  border-bottom: 5px solid rgb(110, 198, 201);
  background-color: white;
}

.menu a {
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  color: #114358;
}

.contenedor {
  margin: 5px auto;
  margin-top: 20px;
  width: 100%;
  padding: 5px;
  display: grid;
  gap: 15px;
  grid-template-columns: 100%;
}

.bloque {
  background-color: rgb(46, 77, 109);
  border-radius: 5px;
  border-top: 5px solid rgb(110, 198, 201);
  border-bottom: 5px solid rgb(110, 198, 201);
  display: flex;
  flex-flow: column nowrap;
}

.bloque h2 {
  margin: 2px;
  font-size: 1.5em;
  text-shadow: 1px 1px 2px black;
  text-align: center;
  color: white;
}

.bloque h3 {
  padding: 8px;
  margin-bottom: 10px;
  font-size: 1.3em;
  background-color: rgb(110, 198, 201);
  color: white;
  text-shadow: 2px 2px 2px black;
}

.bloque p {
  margin: 0 auto 15px;
  color: white;
  font-size: 1.3em;
  text-align: justify;
  width: 90%;
}

.bloque a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(110, 198, 201);
  padding: 10px;
  font-size: 1.2em;
  margin-top: auto;
}

.bloque img {
  display: block;
  width: 90%;
  border-radius: 5px;
  margin-bottom: 8px;
  margin: 0 auto;
  border: 5px solid #1e6d8f;
}

.bloque:first-child img {
  border-radius: 20%;
  width: 80%;
}

footer {
  background-color: #114358;
  padding: 8px;
}

footer h2 {
  text-align: center;
  color: rgb(110, 198, 201);
  font-size: 1.6em;
}

@media screen and (min-width: 768px) {
  .contenedor {
    grid-template-columns: repeat(2, 1fr);
  }

  .menu {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }

  .menu a:last-child {
    grid-column-end: 2 span;
  }

  .bloque:hover {
    box-shadow: 2px 2px 2px rgb(110, 198, 201);
  }

  .bloque a:hover {
    color: white;
  }

  .menu a:hover {
    color: rgb(110, 198, 201);
    text-shadow: 2px 1px 2px black;
  }

  .menu a {
    text-decoration: none;
    font-size: 2vw;
    font-weight: bold;
    color: #114358;
  }
  .bloqueRes {
    grid-column: 2 span;
  }
}

@media screen and (min-width: 1024px) {
  .contenedor {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row dense;
    max-width: 1400px;
  }

  .menu {
    grid-template-columns: repeat(7, 1fr);
    max-width: 1260px;
  }

  .menu a {
    text-decoration: none;
    font-size: 1.3em;
    font-weight: bold;
    color: #114358;
  }

  .bloque a:hover {
    color: white;
  }

  .bloque:first-child {
    grid-column-start: 2;
  }

  .bloqueRes {
    grid-column: 2;
    grid-column: 2 span;
  }

  .bloquePos {
    grid-column: 2 span;
  }
}
