* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Electrolize', sans-serif;
  overflow: hidden;
}

body {
  position: relative;
}

header h1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
}

header h1:hover {
  background-color: #854a8d;
}

h1.inicio:hover {
  background-color: #5e1357;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #5e1357;
  color: #f5f5f5;
}

.clases {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.clases h2 {
  cursor: pointer;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px;
  border-left: 1px solid #f5f5f5;
  font-weight: 100;
  padding-left: 1em;
  padding-right: 1em;
}

.clases h2:hover {
  background-color: #854a8d;
}

.menu h1 {
  cursor: pointer;
  font-size: 1.8em;
  font-weight: 100;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

input {
  display: none;
}

img {
  width: 100%;
}

.contenedor {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.bloque {
  width: 80%;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.bloque p {
  font-size: 1.5em;
  font-weight: 600;
  margin: 10px;
  text-align: justify;
}

.bloque h2 {
  font-size: 3vw;
  text-align: center;
}

.bloque img {
  width: 30vw;
  margin: 20px;
  border-radius: 10px;
}

.inicio_ {
  background-image: url(img/foto1.jpg);
  background-size: cover;
  padding: 58px;
  padding-bottom: 30vh;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.smr {
  background-image: url(img/foto2.jpg);
  background-size: cover;
  display: flex;
  padding: 67px;
  padding-bottom: 30vh;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.asir {
  background-image: url(img/foto3.jpg);
  background-size: cover;
  padding: 68px;
  padding-bottom: 20vh;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.daw {
  background-image: url(img/foto4.jpg);
  background-size: cover;
  padding: 67px;
  padding-bottom: 26vh;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.dam {
  background-image: url(img/foto5.jpg);
  background-size: cover;
  padding: 22px;
  padding-bottom: 26vh;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.ciber {
  background-image: url(img/foto6.jpg);
  background-size: cover;
  padding: 22px;
  padding-bottom: 26vh;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.visible {
  display: flex;
  justify-items: center;
}

.invisible {
  display: none;
}

.portada {
  display: none;
}

footer {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  background-color: #5e1357;
  color: white;
  position: fixed;
  bottom: 0%;
  padding: 5px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  /*Navegador*/
  .menu h1 {
    display: none;
  }

  .bloque p {
    font-size: 3vw;
    font-weight: 600;
    margin: 10px;
    text-align: justify;
  }

  /*Menu cambiante*/
  .menuDesplegado {
    position: absolute;
    top: 0px;
    width: 100%;
    transition: all 0.5s linear;
    display: flex;
    flex-direction: column;
    background-color: rgb(94, 19, 87);
    color: white;
  }

  .menuPlegado {
    position: absolute;
    top: -325px;
    width: 100%;
    transition: all 0.5s linear;
    display: flex;
    flex-direction: column;
    background-color: rgb(94, 19, 87);
    color: white;
  }

  .clases {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .clases h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding-bottom: 10px;
    padding-top: 10px;
    border: 0px solid white;
  }

  .clases h2:hover {
    width: 100%;
    background-color: rgb(133, 74, 141);
  }

  .portada h2:hover {
    background-color: rgb(133, 74, 141);
  }

  .portada {
    display: block;
    width: 100%;
  }

  .portada hr {
    width: 100%;
    color: rgb(207, 207, 202);
  }

  .sector1 {
    padding-bottom: 32vh;
  }

  .sector2 {
    padding-bottom: 30vh;
  }

  .sector3 {
    padding-bottom: 30vh;
  }

  .sector4 {
    padding-bottom: 30vh;
  }

  .sector5 {
    padding-bottom: 30vh;
  }

  .sector6 {
    padding-bottom: 30vh;
  }

  .contenedorLineas {
    position: absolute;
    right: 30px;
    top: 20px;
    width: 50px;
    height: 50px;
    z-index: 15;
  }

  /*Propiedades de todas las líneas*/
  .linea1,
  .linea2,
  .linea3 {
    position: relative;
    background-color: white;
    border-radius: 5px;
    width: 50px;
    height: 5px;
    transition: all 0.3s linear;
  }

  /*Espacio entre ellas*/
  .linea1,
  .linea2 {
    margin-bottom: 10px;
  }

  .linea3 {
    height: 6px;
  }

  /*Animación de las líneas*/
  .linea2 {
    background-color: transparent;
  }

  .linea1 {
    transform: translatey(20px) rotatez(45deg);
  }

  .linea3 {
    transform: translatey(-5px) rotatez(-45deg);
  }

  .borde2 {
    background-color: white;
  }

  .borde1 {
    transform: translatey(0px) rotatez(0deg);
  }

  .borde3 {
    transform: translatey(0px) rotatez(0deg);
  }
}
