* {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

body {
  background-color: paleturquoise;
}

div.todo {
  width: 80%;
  margin: auto;
}

div.todo h1 {
  text-align: center;
  color: royalblue;
}

div.todo fieldset {
  background-color: Lavender;
}

div.todo fieldset legend {
  color: royalblue;
  font-size: large;
}

div.todo fieldset label {
  color: forestgreen;
}

div.todo fieldset input {
  background-color: mistyrose;
}

div.todo fieldset input.codigo {
  background-color: rgb(255, 253, 198);
}

div.todo fieldset input.porcentaje {
  background-color: rgb(255, 253, 198);
}

div.todo fieldset input {
  color: black;
  font-weight: normal;
}

div.todo fieldset input:focus {
  border: 2px solid rebeccapurple;
  outline: none;
}

::placeholder {
  color: coral;
  font-style: Italic;
}

div.todo fieldset fieldset {
  background-color: peachpuff;
}

div.todo fieldset fieldset:first-of-type label {
  color: rebeccapurple;
}

div.todo input.codigo:invalid {
  background-color: orangered;
}

div.todo fieldset p.titulo {
  font-size: 1.3em;
  color: blueviolet;
  font-style: italic;
  font-weight: bold;
}

div.todo fieldset input[type='radio']:hover {
  box-shadow: 0px 0px 10px green;
}

div.todo form > p:last-child {
  text-align: center;
}

div.todo fieldset:last-of-type p input[type='checkbox']:nth-last-of-type(3) {
  box-shadow: 3px 3px 4px orangered;
}

div.todo form > p input {
  padding: 8px;
  color: peachpuff;
  background-color: rgb(255, 253, 198);
  box-shadow: 2px 2px gray;
  border: none;
  border-radius: 5px;
}

div.todo form > p:last-child input:first-child {
  color: cornflowerblue;
}

div.todo form > p:last-child input:last-child {
  color: gray;
  font-weight: 100;
}

input.enviar {
  color: blueviolet;
}
