* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

div {
  height: 100vh;
  width: 100vw;
  padding: 1.5vw;
  padding-right: 0.2vw;
  padding-left: 0.2vw;
}

div.cajas h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: 6em;
  margin: 2vh 3vw;
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 1px 0px white, -1px -1px 0px white, -1px 1px 0px white,
    1px -1px 0px white;
  border: 10px solid black;
  color: black;
  background: darkblue;
  animation-name: h1;
  animation-duration: 12s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

div.cajas h2 {
  font-family: 'Bangers', cursive;
  font-size: 2em;
  margin: 2vh 35vw;
  padding: 0 1vw;
  font-size: 4em;
  transform: translate(-610px, 0px);
  font-weight: bolder;
  border: 4px solid black;
  text-align: center;
  text-shadow: 1px 1px 0px white, -1px -1px 0px white, -1px 1px 0px white,
    1px -1px 0px white;
  color: black;
  background: darkred;
  animation-name: h2;
  animation-duration: 20s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-fill-mode: forwards;
  width: 9em;
}

div.cajas {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    135deg,
    rgba(232, 95, 240, 1) 20%,
    rgba(62, 180, 240, 1) 40%,
    rgba(154, 240, 93, 1) 60%,
    rgba(240, 165, 72, 1) 80%
  );
  background-size: 1000% 1000%;
  animation: fondoPantalla 20s linear infinite;
}

@keyframes fondoPantalla {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes h1 {
  0% {
    background: darkblue;
  }
  20% {
    background-color: darkmagenta;
  }
  40% {
    background-color: darkslategray;
  }
  60% {
    background-color: darkorange;
  }
  80% {
    background-color: crimson;
  }
  100% {
    background-color: darkblue;
  }
}

@keyframes h2 {
  16% {
    transform: translate(555px, 0px);
    color: black;
    background-color: darkred;
  }

  16% {
    background-color: orangered;
  }

  32% {
    transform: translate(610px, 0px) rotatez(180deg);
    background-color: orangered;
  }

  32% {
    background-color: gold;
  }

  48% {
    transform: translate(0px, 500px) rotatey(180deg) rotatez(90deg);
    background-color: gold;
  }

  48% {
    background-color: darkgreen;
    width: 9em;
  }

  64% {
    transform: translate(600px, 600px) rotatez(180deg);
    background-color: darkgreen;
  }

  64% {
    background-color: royalblue;
  }

  80% {
    transform: translate(-610px, 600px) rotatex(180deg);
    background-color: royalblue;
  }

  80% {
    background-color: darkorchid;
  }

  100% {
    background-color: darkorchid;
    color: hotpink;
  }
}
