* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color_texto: #5a0075;
  --color_borde: #dd0a85;
  --color_sombra: whitesmoke;

  /* Animación Cascada */

  --tiempo_anim1: 2s;

  --color1_1: rgb(24, 2, 35);
  --color1_2: rgb(144, 28, 165);
  --color1_3: rgb(225, 87, 187);
  --color1_4: rgb(235, 168, 106);
  --color1_5: rgb(233, 213, 140);
  --color1_6: rgb(223, 178, 177);
  --color1_7: rgb(208, 112, 166);
  --color1_8: rgb(224, 163, 192);
  --color1_9: rgb(255, 255, 255);

  --delay1_1: calc(var(--tiempo_anim1) / 10);
  --delay1_2: calc(var(--delay1_1) + var(--delay1_1));
  --delay1_3: calc(var(--delay1_2) + var(--delay1_1));
  --delay1_4: calc(var(--delay1_3) + var(--delay1_1));
  --delay1_5: calc(var(--delay1_4) + var(--delay1_1));
  --delay1_6: calc(var(--delay1_5) + var(--delay1_1));
  --delay1_7: calc(var(--delay1_6) + var(--delay1_1));
  --delay1_8: calc(var(--delay1_7) + var(--delay1_1));

  --animCas1: animacionCascada var(--tiempo_anim1) forwards;
  --animCas2: animacionCascada var(--tiempo_anim1) var(--delay1_1) forwards;
  --animCas3: animacionCascada var(--tiempo_anim1) var(--delay1_2) forwards;
  --animCas4: animacionCascada var(--tiempo_anim1) var(--delay1_3) forwards;
  --animCas5: animacionCascada var(--tiempo_anim1) var(--delay1_4) forwards;
  --animCas6: animacionCascada var(--tiempo_anim1) var(--delay1_5) forwards;
  --animCas7: animacionCascada var(--tiempo_anim1) var(--delay1_6) forwards;
  --animCas8: animacionCascada var(--tiempo_anim1) var(--delay1_7) forwards;
  --animCas9: animacionCascada var(--tiempo_anim1) var(--delay1_8) forwards;

  /* Animación Diagonal */

  --tiempo_anim2: 12s;

  --color2_1: rgb(255, 0, 0);
  --color2_2: rgb(255, 127, 0);
  --color2_3: rgb(255, 255, 0);
  --color2_4: rgb(0, 255, 0);
  --color2_5: rgb(0, 0, 255);
  --color2_6: rgb(148, 0, 211);
  --color2_7: rgb(255, 135, 235);
  --color2_8: rgb(255, 255, 255);

  --delay2: (var(--tiempo_anim2) / 24);
  --delay2_1: calc(var(--delay1_8) + var(--tiempo_anim1));
  --delay2_2: calc(var(--delay2_1) + var(--delay2));
  --delay2_3: calc(var(--delay2_2) + var(--delay2));
  --delay2_4: calc(var(--delay2_3) + var(--delay2));
  --delay2_5: calc(var(--delay2_4) + var(--delay2));
  --delay2_6: calc(var(--delay2_5) + var(--delay2));
  --delay2_7: calc(var(--delay2_6) + var(--delay2));
  --delay2_8: calc(var(--delay2_7) + var(--delay2));
  --delay2_9: calc(var(--delay2_8) + var(--delay2));
  --delay2_10: calc(var(--delay2_9) + var(--delay2));
  --delay2_11: calc(var(--delay2_10) + var(--delay2));
  --delay2_12: calc(var(--delay2_11) + var(--delay2));
  --delay2_13: calc(var(--delay2_12) + var(--delay2));
  --delay2_14: calc(var(--delay2_13) + var(--delay2));
  --delay2_15: calc(var(--delay2_14) + var(--delay2));

  /* Animaciones */
  --animDiag1: animacionDiagonal var(--tiempo_anim2) var(--delay2_1) infinite;
  --animDiag2: animacionDiagonal var(--tiempo_anim2) var(--delay2_2) infinite;
  --animDiag3: animacionDiagonal var(--tiempo_anim2) var(--delay2_3) infinite;
  --animDiag4: animacionDiagonal var(--tiempo_anim2) var(--delay2_4) infinite;
  --animDiag5: animacionDiagonal var(--tiempo_anim2) var(--delay2_5) infinite;
  --animDiag6: animacionDiagonal var(--tiempo_anim2) var(--delay2_6) infinite;
  --animDiag7: animacionDiagonal var(--tiempo_anim2) var(--delay2_7) infinite;
  --animDiag8: animacionDiagonal var(--tiempo_anim2) var(--delay2_8) infinite;
  --animDiag9: animacionDiagonal var(--tiempo_anim2) var(--delay2_9) infinite;
  --animDiag10: animacionDiagonal var(--tiempo_anim2) var(--delay2_10) infinite;
  --animDiag11: animacionDiagonal var(--tiempo_anim2) var(--delay2_11) infinite;
  --animDiag12: animacionDiagonal var(--tiempo_anim2) var(--delay2_12) infinite;
  --animDiag13: animacionDiagonal var(--tiempo_anim2) var(--delay2_13) infinite;
  --animDiag14: animacionDiagonal var(--tiempo_anim2) var(--delay2_14) infinite;
  --animDiag15: animacionDiagonal var(--tiempo_anim2) var(--delay2_15) infinite;
}

body {
  background-color: var(--color_texto);
  background-image: url('../img/back1.jpg');
}

h1 {
  padding: 5px;
  padding-bottom: 20px;
  text-align: center;
  font-family: 'Urbanist', sans-serif;
  letter-spacing: 2px;
  font-size: 2.3em;
  text-shadow: 1px 1px 5px var(--color_sombra),
    -1px -1px 5px var(--color_sombra);
  color: var(--color_texto);
}

h3 {
  font-family: 'Urbanist', sans-serif;
  font-size: 1.2em;
  color: var(--color_texto);
  padding: 10px;
}

.contenedor {
  background-color: var(--color_borde);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23cd6654'/%3E%3Cstop offset='1' stop-color='%23cd6654' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%235f2a8b'/%3E%3Cstop offset='1' stop-color='%235f2a8b' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23916c69'/%3E%3Cstop offset='1' stop-color='%23916c69' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%239A2476'/%3E%3Cstop offset='1' stop-color='%239A2476' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FFA732'/%3E%3Cstop offset='1' stop-color='%23FFA732' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%232330A0'/%3E%3Cstop offset='1' stop-color='%232330A0' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;

  width: 900px;
  height: 950px;
  border: 5px solid var(--color_borde);
  border-radius: 10px;
  margin: 10px auto 0px;
  padding: 1vh 2vw;
}

.cuadrado {
  display: grid;
  grid-template-columns: repeat(8, 105px);
  grid-template-rows: repeat(8, 105px);
  justify-content: center;
}

.casilla {
  border: 2px solid var(--color_texto);
  width: 100px;
  height: 100px;
}
.casilla .casilla {
  width: 100%;
  height: 100%;
}

.fila1 {
  animation: var(--animCas1);
}
.fila2 {
  animation: var(--animCas2);
}
.fila3 {
  animation: var(--animCas3);
}
.fila4 {
  animation: var(--animCas4);
}
.fila5 {
  animation: var(--animCas5);
}
.fila6 {
  animation: var(--animCas6);
}
.fila7 {
  animation: var(--animCas7);
}
.fila8 {
  animation: var(--animCas8);
}
.fila9 {
  animation: var(--animCas9);
}

.diagonal1 {
  animation: var(--animDiag1);
}
.diagonal2 {
  animation: var(--animDiag2);
}
.diagonal3 {
  animation: var(--animDiag3);
}
.diagonal4 {
  animation: var(--animDiag4);
}
.diagonal5 {
  animation: var(--animDiag5);
}
.diagonal6 {
  animation: var(--animDiag6);
}
.diagonal7 {
  animation: var(--animDiag7);
}
.diagonal8 {
  animation: var(--animDiag8);
}
.diagonal9 {
  animation: var(--animDiag9);
}
.diagonal10 {
  animation: var(--animDiag10);
}
.diagonal11 {
  animation: var(--animDiag11);
}
.diagonal12 {
  animation: var(--animDiag12);
}
.diagonal13 {
  animation: var(--animDiag13);
}
.diagonal14 {
  animation: var(--animDiag14);
}
.diagonal15 {
  animation: var(--animDiag15);
}

/* Animación Cascada */
@keyframes animacionCascada {
  from {
    background-color: var(--color1_1);
  }
  20% {
    background-color: var(--color1_2);
  }
  30% {
    background-color: var(--color1_3);
  }
  40% {
    background-color: var(--color1_4);
  }
  50% {
    background-color: var(--color1_5);
  }
  60% {
    background-color: var(--color1_6);
  }
  70% {
    background-color: var(--color1_7);
  }
  80% {
    background-color: var(--color1_8);
  }
  to {
    background-color: var(--color1_9);
  }
}

/* Animación diagonal */

@keyframes animacionDiagonal {
  0% {
    background-color: var(--color2_8);
  }
  12% {
    background-color: var(--color2_1);
  }
  24% {
    background-color: var(--color2_2);
  }
  36% {
    background-color: var(--color2_3);
  }
  48% {
    background-color: var(--color2_4);
  }
  60% {
    background-color: var(--color2_5);
  }
  72% {
    background-color: var(--color2_6);
  }
  84% {
    background-color: var(--color2_7);
  }
  100% {
    background-color: var(--color2_8);
  }
}
