* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: lightslategrey;
  font-family: 'Literata', serif;
  font-weight: bolder;
}

h1 {
  margin-top: 5px;
  margin-bottom: 26px;
  text-align: center;
  color: gainsboro;
}

.titulo {
  font-size: 1.7em;
  margin-top: 5px;
  display: flex;
  flex-direction: wrap;
  justify-content: center;
}

hr {
  display: flex;
  flex-direction: wrap;
  justify-content: center;
  color: gainsboro;
  border: 2.3px solid gainsboro;
  width: 50vw;
  font-weight: bold;
}

.principal {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-top: 1em;
  margin-right: 19em;
  margin-left: 19em;
  border: 5px solid gainsboro;
  border-radius: 10px;
  background-color: darkslategray;
}

.naipes {
  margin: 2px;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
}

.naipe1,
.naipe2,
.naipe3,
.naipe4,
.naipe5,
.naipe6,
.naipe7,
.naipe8,
.naipe9,
.naipe10 {
  background-color: gainsboro;
  display: flex;
  flex-flow: wrap;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 10px;
  box-shadow: 10px 10px 20px #00000080;
  width: 160px;
  height: 220px;
}

p {
  color: #312f33;
  font-size: 2em;
}

.picaReves {
  transform: rotateZ(180deg);
}

.numA {
  font-size: 1.1em;
  margin-bottom: -6px;
}

.num {
  font-size: 1.1em;
  margin-left: 2px;
  margin-bottom: -6px;
}

.miniPica {
  font-size: 1.1em;
  margin-left: 1px;
}

.miniPicaReves {
  margin-left: -1px;
}

.A {
  font-size: 0.4em;
  margin-top: 5px;
  margin-left: 5px;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.A2 {
  font-size: 0.4em;
  margin-right: 5px;
  margin-bottom: 5px;
  transform: rotateZ(180deg);
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.naipe1 {
  display: flex;
  justify-content: space-between;
}

.naipe1-1 {
  margin-top: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
}

.naipe2 {
  display: flex;
  justify-content: space-between;
}

.naipe2Contenedor {
  margin: 10px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.naipe3 {
  display: flex;
  justify-content: space-between;
}

.naipe3Contenedor {
  margin: 10px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.naipe4 {
  display: flex;
  justify-content: space-between;
}

.naipe4_1-2 {
  margin: 10px;
  margin-left: -20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.naipe4_3-4 {
  margin: 10px;
  margin-right: -20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.naipe5 {
  display: flex;
  justify-content: space-between;
}

.naipe5_1-2 {
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: -12px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.naipe5_3 {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  align-self: center;
}

.naipe5_4-5 {
  margin-top: 12px;
  margin-bottom: 12px;
  margin-right: -12px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.naipe6 {
  display: flex;
  justify-content: space-between;
}

.naipe6_1-2-3 {
  margin: 10px;
  margin-left: -25px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.naipe6_4-5-6 {
  margin: 10px;
  margin-right: -25px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.naipe7 {
  display: flex;
  justify-content: space-between;
}

.naipe7_1-2-3 {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: -10px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.naipe7_4 {
  margin-top: 50px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}

.naipe7_5-6-7 {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: -10px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.naipe8 {
  display: flex;
  justify-content: space-between;
}

.naipe8_1-2-3 {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: -10px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.naipe8_4-5 {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-content: center;
  align-content: center;
}

.naipe8_6-7-8 {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: -10px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.naipe9 {
  display: flex;
  justify-content: space-between;
}

.naipe9_1-2-3-4 {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: -10px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.naipe9_5 {
  margin-top: 45px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}

.naipe9_6-7-8-9 {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: -10px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.naipe10 {
  display: flex;
  justify-content: space-between;
}

.naipe10_1-2-3-4 {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: -10px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.naipe10_5-6 {
  margin-top: 45px;
  margin-bottom: 45px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-content: center;
  align-content: center;
}

.naipe10_7-8-9-10 {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: -10px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
