* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Sen', sans-serif;
}

.cabecera {
  padding-top: 15px;
  padding-bottom: 4%;
  background-color: black;
  color: white;
  text-align: center;
  height: 10vh;
  font-weight: 700;
  font-family: 'Sen', sans-serif;
  font-size: 2em;
}

.part1 {
  background-color: #f15946;
  height: 30vh;
  width: 50%;
  position: relative;
  padding-right: 2em;
  padding-left: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  margin-top: 12em;
  margin-left: 21em;
  font-weight: bold;
  font-size: 1.4em;
  border: 5px black solid;
}

.uno,
.dos,
.cuatro,
.cinco,
.seis,
.siete,
.ocho {
  overflow: hidden;
  padding: 0.5em;
  background-color: #f9c22e;
  color: #e01a4f;
  margin: 10px;
  width: 10vw;
  height: 40%;
  float: left;
  clear: none;
  border: 2px black solid;
}

.tres {
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 0.5em;
  background-color: #312ef9;
  color: #e01a4f;
  margin: 10px;
  width: 10vw;
  height: 40%;
  float: left;
  clear: none;
  border: 2px black solid;
}
