* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Cantarell', sans-serif;
}

body {
  background-image: url(./img/fondo.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100vw 100vh;
  position: relative;
  overflow-x: hidden;
}

header {
  position: fixed;
  height: 100vh;
  width: 68%;
  top: 5%;
  left: 16%;
  z-index: 2;
}

.titulo1 {
  background-color: rgb(49, 48, 48);
  height: 60px;
  font-size: 2em;
  border: 3px solid orange;
  text-align: center;
  color: orange;
  font-weight: bold;
  top: 5vh;
  padding-top: 0.2em;
}

main {
  background-image: url(img/campero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 150px;
  margin-bottom: 100px;
  width: 70vw;
  left: 15%;
  height: auto;
  color: orange;
  padding: 1rem;
  border-radius: 6px;
  text-align: justify;
}

.titulo2 {
  position: sticky;
  width: 60vw;
  height: 45px;
  color: orange;
  left: 20%;
  top: 6vh;
  text-align: center;
  background-color: rgb(49, 48, 48);
  border-radius: 6px;
  margin-bottom: 1.5em;
  z-index: 10;
  font-size: 1.8em;
}

article p {
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

footer {
  position: fixed;
  background-color: rgb(49, 48, 48);
  width: 100%;
  bottom: 5%;
  text-align: center;
  font-size: 1.7em;
  padding: 0.3rem;
  color: orange;
  z-index: 20;
}

.abreMenu {
  position: fixed;
  top: 6vh;
  left: 4vw;
  width: 3%;
  transform: rotateZ(0deg);
  transition: all 0.5s linear;
  z-index: 25;
}

.abre {
  height: 6px;
  width: 45px;
  position: relative;
  background-color: rgb(180, 83, 18);
  margin-bottom: 10px;
  border-radius: 5px;
  z-index: 5;
  transition: all 0.5s 0.5s linear;
  transform-origin: left;
}

.abreMenu .abre:nth-child(2) {
  background-color: rgb(136, 135, 133);
}

input {
  cursor: pointer;
}

input[type='checkbox']:checked ~ .abreMenu :nth-child(2) {
  width: 0;
  transition: all 0.3s linear;
}

input[type='checkbox']:checked ~ .abreMenu :nth-child(1) {
  top: 0.6rem;
  background-color: white;
}

input[type='checkbox']:checked ~ .abreMenu :nth-child(3) {
  transform-origin: right;
  transform: rotateZ(90deg);
  right: 1.4rem;
  background-color: white;
}

input[type='checkbox']:checked ~ .abreMenu {
  transform: rotateZ(-45deg);
  transition-delay: 0.2s;
}

input[type='checkbox']:checked ~ .menuNav {
  right: 0;
}

input[type='checkbox'] ~ .abreMenu :nth-child(2) {
  width: 45px;
}

input[type='checkbox'] ~ .abreMenu :nth-child(1) {
  transform: rotateZ(0deg);
  top: 0;
}

input[type='checkbox'] ~ .abreMenu :nth-child(3) {
  transform-origin: right;
  right: 0;
}

.checkbox {
  position: fixed;
  top: 5%;
  left: -1%;
  width: 10%;
  height: 10vh;
  z-index: 27;
  opacity: 0;
}

.menuNav {
  position: fixed;
  right: 100%;
  top: 0;
  z-index: 15;
  width: 100vw;
  height: 100vh;
  transition: all 0.5s linear;
  background-image: linear-gradient(
    to bottom,
    #f39d6ce6 0%,
    #9e5f3acb 50%,
    #9e431fe0 100%
  );
  overflow: hidden;
}

.fotoNav {
  width: 14vw;
  height: 25vh;
  position: absolute;
  left: 45%;
  top: 5%;
  border: 5px solid gray;
}

.titLogo {
  position: relative;
  top: 5%;
}

.titLogo p {
  position: absolute;
  left: 45%;
  top: 10vh;
  z-index: 5;
  color: white;
  text-align: center;
  background-color: rgba(128, 128, 128, 0.575);
  width: 14vw;
  font-weight: bold;
  font-size: 1.6em;
  padding: 2px;
}

ul {
  width: 90%;
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  top: 35%;
  left: 7%;
  text-align: center;
  height: auto;
  margin-bottom: 18vh;
  text-align: center;
}

.listaNav {
  padding: 5px;
  position: relative;
  left: -100%;
}

input[type='checkbox']:checked ~ .menuNav .listaNav:nth-child(1) {
  animation: linea1 2s linear 0.8s forwards, cambiarColor 1s linear 4s forwards;
}

input[type='checkbox']:checked ~ .menuNav .listaNav:nth-child(2) {
  animation: linea2 2.5s linear 0.8s forwards,
    cambiarColor 1s linear 4.2s forwards;
}

input[type='checkbox']:checked ~ .menuNav .listaNav:nth-child(3) {
  animation: linea3 3s linear 0.8s forwards,
    cambiarColor 1s linear 4.4s forwards;
}

input[type='checkbox']:checked ~ .menuNav .listaNav:nth-child(4) {
  animation: linea1 3.5s linear 0.8s forwards,
    cambiarColor 1s linear 4.6s forwards;
}

input[type='checkbox']:checked ~ .menuNav .listaNav:nth-child(5) {
  animation: linea2 4s linear 0.8s forwards,
    cambiarColor 1s linear 4.8s forwards;
}

input[type='checkbox']:checked ~ .menuNav .listaNav:nth-child(6) {
  animation: linea3 4.5s linear 0.8s forwards,
    cambiarColor 1s linear 5s forwards;
}

@keyframes cambiarColor {
  to {
    background-color: inherit;
  }
}

@keyframes linea1 {
  from {
    width: 0;
    left: -100%;
    background-color: orange;
  }

  to {
    background-color: orange;
    left: 0;
    width: 100%;
  }
}

@keyframes linea2 {
  from {
    width: 0;
    left: -100%;
    background-color: rgb(192, 151, 74);
  }

  to {
    background-color: rgb(192, 151, 74);
    left: 0;
    width: 100%;
  }
}

@keyframes linea3 {
  from {
    width: 0;
    left: -100%;
    background-color: grey;
  }

  to {
    background-color: grey;
    left: 0;
    width: 100%;
  }
}

.enlaceNav {
  text-decoration: none;
  color: black;
  font-size: 2em;
  font-weight: bold;
}

.enlaceNav:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: gray;
  color: orange;
  font-weight: bold;
}
