* {
  box-sizing: border-box;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  font-family: 'Russo one';
}

body {
  background-color: rgb(35, 122, 180);
  background-image: url('./img/fondo.jpg');
  background-attachment: fixed;
  background-size: contain;
}

main {
  background-color: rgb(128, 191, 233);
  border-radius: 30px;
  margin: 0 3vw;
  padding-bottom: 0.7em;
  padding-top: 1em;
}

.bar {
  text-align: center;
  border-radius: 20px;
  margin-bottom: 1em;
  width: auto;
  height: auto;
  background-size: 100% 100%;
  background-size: cover;
  background-color: rgb(35, 122, 180);
  border-width: 5px;
  padding-top: 1.5em;
  padding-bottom: 1.2em;
  text-shadow: 4px 4px 4px black;
}

header {
  text-align: center;
}

.titulo {
  text-align: center;
  color: whitesmoke;
}

a {
  text-decoration: none;
  font-size: 2.5vw;
  color: whitesmoke;
  text-shadow: 4px 4px 4px black;
  margin: 0;
  padding: 0;
}

hr {
  color: white;
}

h1 {
  font-size: 5vw;
  font-weight: bolder;
  padding: 0%;
  margin: 0%;
}

h2 {
  font-size: 3vw;
  font-weight: 500;
  padding: 15px 25px 15px 25px;
  border-radius: 20px;
  background-color: whitesmoke;
  color: rgb(35, 122, 180);
  margin-bottom: 5px;
}

.platos {
  width: 15vw;
  height: 25vh;
  border-radius: 75px;
  box-shadow: 0px 0px 20px white;
  margin-bottom: 20px;
  padding: 0;
}

.platos:hover {
  transition: transform, 1s ease;
  opacity: 100%;
  font-size: 2vw;
  padding: 0;
  margin: 0;
}

.volverMenu {
  float: right;
  text-shadow: 0px 0px 0px black;
  text-align: center;
  background-color: rgb(35, 122, 180);
  border-radius: 10px;
  padding: 4px;
  box-shadow: 0px 0px 5px black;
}

.volverMenu:hover {
  transition: 0.5s ease-out;
  font-size: 2.8vw;
  text-shadow: 0px 0px 5px rgb(255, 255, 255);
  color: rgb(35, 122, 180);
  background-color: white;
  opacity: 100%;
  padding: 0;
  margin: 0;
}

.menu {
  margin-top: 1px;
  color: whitesmoke;
  font-weight: lighter;
  padding-top: 1em;
  border-radius: 50px;
  background-color: rgb(35, 122, 180);
  text-shadow: 4px 4px 4px black;
}

.productos {
  opacity: 100%;
  background-color: rgb(35, 122, 180);
  border-radius: 3vw;
  padding-top: 10px;
  padding-bottom: 5px;
  margin: 0;
}

table {
  width: 94%;
}

footer {
  text-align: center;
  padding: 0;
  margin: 0;
}

.fondo {
  margin-left: 5vw;
  padding: auto;
}

.alerg {
  width: 4.5vw;
  height: 6.5vw;
  padding: 0;
  margin: 0;
}

.alergenos {
  text-align: center;
  background-color: rgb(35, 122, 180);
  border-radius: 20px;
  width: 50vw;
  height: auto;
  padding: 0;
  margin-top: 18px;
}

.imagen {
  text-align: right;
  width: 96%;
  padding: 0;
  margin: 0;
}

.carta {
  color: white;
  font-size: 2.5vw;
  width: 60%;
  line-height: 120px;
}

.carta:hover,
.precio:hover {
  transition: transform, 1.5s ease;
  opacity: 100%;
  font-size: 2.8vw;
  padding: 0;
  margin: 0;
}

.carta1 {
  color: white;
  font-size: 2.5vw;
  width: 70%;
  line-height: 120px;
}

.precio {
  font-size: 2.5vw;
  color: white;
  text-align: right;
  font-weight: bolder;
}
